<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Simple Blog</title>
</head>

<body>
  <style>
    <%- include('output') %>
  </style>
  <%- include('nav') %>

    <div class="outer-container">
      <!-- <div class="bg-black text-white rounded">
        <a href="/articles/new"><span>新文章</span></a>
      </div> -->
      <br>
      <% articles.forEach(article=> { %>
        <div class="card ">
          <div class="card-body">
            <h2 class="article-title">
              <a href="articles/<%=article.slug%>">
                <%= article.title %>
              </a>
            </h2>
            <div class="text-sm text-slate-400 text-muted mb-2">
              <p>@<%= article.createdAt.toLocaleDateString() %>
              </p>
            </div>
            <hr>
            <div class="article-desc mb-2">
              <%= article.description %>
            </div>


            <div class="control">
              <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
              <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
              <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>

          </div>
        </div>
        <% }) %>

    </div>



</body>

</html>